-- CreateEnum
CREATE TYPE "sec_level" AS ENUM ('Sec1', 'Sec2', 'Sec3', 'Sec4', 'Sec5', 'Other');

-- CreateTable
CREATE TABLE "auditaction" (
    "action_id" VARCHAR(50) NOT NULL,
    "description" TEXT,

    CONSTRAINT "auditaction_pkey" PRIMARY KEY ("action_id")
);

-- CreateTable
CREATE TABLE "auditlog" (
    "log_id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "session_id" INTEGER,
    "action_id" VARCHAR(50),
    "target_id" INTEGER NOT NULL,
    "target_entity" VARCHAR(50),
    "timestamp" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "auditlog_pkey" PRIMARY KEY ("log_id")
);

-- CreateTable
CREATE TABLE "badge" (
    "badge_id" SERIAL NOT NULL,
    "tour_id" INTEGER,
    "badge_title" VARCHAR(255) NOT NULL,
    "description" TEXT NOT NULL,
    "image_url" TEXT NOT NULL,

    CONSTRAINT "badge_pkey" PRIMARY KEY ("badge_id")
);

-- CreateTable
CREATE TABLE "checkpoint" (
    "checkpoint_id" SERIAL NOT NULL,
    "quiz_id" INTEGER,
    "location_id" INTEGER NOT NULL,
    "points_reward" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "checkpoint_pkey" PRIMARY KEY ("checkpoint_id")
);

-- CreateTable
CREATE TABLE "location" (
    "location_id" SERIAL NOT NULL,
    "location_name" VARCHAR(255) NOT NULL,
    "locationtype_id" VARCHAR(50),
    "description" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "location_pkey" PRIMARY KEY ("location_id")
);

-- CreateTable
CREATE TABLE "locationtype" (
    "locationtype_id" VARCHAR(50) NOT NULL,
    "description" TEXT,

    CONSTRAINT "locationtype_pkey" PRIMARY KEY ("locationtype_id")
);

-- CreateTable
CREATE TABLE "no_of_completed_checkpoints" (
    "count" BIGINT
);

-- CreateTable
CREATE TABLE "permission" (
    "permission_id" INTEGER NOT NULL,
    "permission_name" VARCHAR(100) NOT NULL,
    "description" TEXT,

    CONSTRAINT "permission_pkey" PRIMARY KEY ("permission_id")
);

-- CreateTable
CREATE TABLE "question" (
    "question_id" SERIAL NOT NULL,
    "question" TEXT NOT NULL,
    "quiz_id" INTEGER,

    CONSTRAINT "question_pkey" PRIMARY KEY ("question_id")
);

-- CreateTable
CREATE TABLE "questionoption" (
    "option_id" SERIAL NOT NULL,
    "option" TEXT NOT NULL,
    "is_correct" BOOLEAN NOT NULL,
    "question_id" INTEGER NOT NULL,

    CONSTRAINT "questionoption_pkey" PRIMARY KEY ("option_id")
);

-- CreateTable
CREATE TABLE "quiz" (
    "quiz_id" SERIAL NOT NULL,
    "quiz_title" VARCHAR(255) NOT NULL,
    "description" TEXT,

    CONSTRAINT "quiz_pkey" PRIMARY KEY ("quiz_id")
);

-- CreateTable
CREATE TABLE "review" (
    "review_id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "tour_id" INTEGER NOT NULL,
    "review_text" TEXT NOT NULL,
    "rating" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "review_pkey" PRIMARY KEY ("review_id")
);

-- CreateTable
CREATE TABLE "role" (
    "role_id" INTEGER NOT NULL,
    "role_name" VARCHAR(30) NOT NULL,
    "description" TEXT,

    CONSTRAINT "role_pkey" PRIMARY KEY ("role_id")
);

-- CreateTable
CREATE TABLE "rolepermission" (
    "role_id" INTEGER NOT NULL,
    "permission_id" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "rolepermission_pkey" PRIMARY KEY ("role_id","permission_id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "session_id" SERIAL NOT NULL,
    "user_id" INTEGER,
    "access_token" VARCHAR(255),
    "is_active" BOOLEAN DEFAULT true,
    "login_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "logout_at" TIMESTAMPTZ(6),

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("session_id")
);

-- CreateTable
CREATE TABLE "tour" (
    "tour_id" SERIAL NOT NULL,
    "tour_name" VARCHAR(255) NOT NULL,
    "description" TEXT,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "tour_pkey" PRIMARY KEY ("tour_id")
);

-- CreateTable
CREATE TABLE "tourcheckpoint" (
    "tour_id" INTEGER NOT NULL,
    "checkpoint_id" INTEGER NOT NULL,
    "checkpoint_order" INTEGER NOT NULL,

    CONSTRAINT "tourcheckpoint_pkey" PRIMARY KEY ("tour_id","checkpoint_id")
);

-- CreateTable
CREATE TABLE "userbadge" (
    "badge_id" INTEGER NOT NULL,
    "user_id" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "userbadge_pkey" PRIMARY KEY ("badge_id","user_id")
);

-- CreateTable
CREATE TABLE "usercheckpointattempt" (
    "checkpointattempt_id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "checkpoint_id" INTEGER,
    "tourcompletion_id" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usercheckpointattempt_pkey" PRIMARY KEY ("checkpointattempt_id")
);

-- CreateTable
CREATE TABLE "userprofile" (
    "profile_id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "points" INTEGER DEFAULT 0,
    "level" INTEGER DEFAULT 0,
    "first_name" VARCHAR(100) NOT NULL,
    "last_name" VARCHAR(100) NOT NULL,
    "school" VARCHAR(255),
    "sec_level" "sec_level" NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),

    CONSTRAINT "userprofile_pkey" PRIMARY KEY ("profile_id")
);

-- CreateTable
CREATE TABLE "userquizcompletion" (
    "quizcompletion_id" SERIAL NOT NULL,
    "quiz_id" INTEGER NOT NULL,
    "user_id" INTEGER NOT NULL,
    "score" INTEGER NOT NULL,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "userquizcompletion_pkey" PRIMARY KEY ("quizcompletion_id")
);

-- CreateTable
CREATE TABLE "userrole" (
    "user_id" INTEGER NOT NULL,
    "role_id" INTEGER NOT NULL DEFAULT 2,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "userrole_pkey" PRIMARY KEY ("user_id","role_id")
);

-- CreateTable
CREATE TABLE "users" (
    "user_id" SERIAL NOT NULL,
    "username" VARCHAR(30) NOT NULL,
    "email" VARCHAR(255) NOT NULL,
    "password" CHAR(60) NOT NULL,
    "is_verified" BOOLEAN DEFAULT false,
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMPTZ(6),

    CONSTRAINT "users_pkey" PRIMARY KEY ("user_id")
);

-- CreateTable
CREATE TABLE "usertourcompletion" (
    "tourcompletion_id" SERIAL NOT NULL,
    "user_id" INTEGER NOT NULL,
    "tour_id" INTEGER,
    "completed" BOOLEAN DEFAULT false,
    "completed_at" TIMESTAMPTZ(6),
    "created_at" TIMESTAMPTZ(6) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "usertourcompletion_pkey" PRIMARY KEY ("tourcompletion_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "badge_badge_title_key" ON "badge"("badge_title");

-- CreateIndex
CREATE UNIQUE INDEX "location_location_name_key" ON "location"("location_name");

-- CreateIndex
CREATE UNIQUE INDEX "permission_permission_name_key" ON "permission"("permission_name");

-- CreateIndex
CREATE UNIQUE INDEX "quiz_quiz_title_key" ON "quiz"("quiz_title");

-- CreateIndex
CREATE UNIQUE INDEX "role_role_name_key" ON "role"("role_name");

-- CreateIndex
CREATE UNIQUE INDEX "tour_tour_name_key" ON "tour"("tour_name");

-- CreateIndex
CREATE UNIQUE INDEX "userprofile_user_id_key" ON "userprofile"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "userrole_user_id_key" ON "userrole"("user_id");

-- CreateIndex
CREATE UNIQUE INDEX "users_username_key" ON "users"("username");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- AddForeignKey
ALTER TABLE "auditlog" ADD CONSTRAINT "auditlog_action_id_fkey" FOREIGN KEY ("action_id") REFERENCES "auditaction"("action_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auditlog" ADD CONSTRAINT "auditlog_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "sessions"("session_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "auditlog" ADD CONSTRAINT "auditlog_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "badge" ADD CONSTRAINT "badge_tour_id_fkey" FOREIGN KEY ("tour_id") REFERENCES "tour"("tour_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "checkpoint" ADD CONSTRAINT "checkpoint_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "location"("location_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "checkpoint" ADD CONSTRAINT "checkpoint_quiz_id_fkey" FOREIGN KEY ("quiz_id") REFERENCES "quiz"("quiz_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "location" ADD CONSTRAINT "location_locationtype_id_fkey" FOREIGN KEY ("locationtype_id") REFERENCES "locationtype"("locationtype_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "question" ADD CONSTRAINT "question_quiz_id_fkey" FOREIGN KEY ("quiz_id") REFERENCES "quiz"("quiz_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "questionoption" ADD CONSTRAINT "questionoption_question_id_fkey" FOREIGN KEY ("question_id") REFERENCES "question"("question_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "review" ADD CONSTRAINT "review_tour_id_fkey" FOREIGN KEY ("tour_id") REFERENCES "tour"("tour_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "review" ADD CONSTRAINT "review_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "rolepermission" ADD CONSTRAINT "rolepermission_permission_id_fkey" FOREIGN KEY ("permission_id") REFERENCES "permission"("permission_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "rolepermission" ADD CONSTRAINT "rolepermission_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "role"("role_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "sessions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tourcheckpoint" ADD CONSTRAINT "tourcheckpoint_checkpoint_id_fkey" FOREIGN KEY ("checkpoint_id") REFERENCES "checkpoint"("checkpoint_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "tourcheckpoint" ADD CONSTRAINT "tourcheckpoint_tour_id_fkey" FOREIGN KEY ("tour_id") REFERENCES "tour"("tour_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "userbadge" ADD CONSTRAINT "userbadge_badge_id_fkey" FOREIGN KEY ("badge_id") REFERENCES "badge"("badge_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "userbadge" ADD CONSTRAINT "userbadge_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usercheckpointattempt" ADD CONSTRAINT "usercheckpointattempt_checkpoint_id_fkey" FOREIGN KEY ("checkpoint_id") REFERENCES "checkpoint"("checkpoint_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usercheckpointattempt" ADD CONSTRAINT "usercheckpointattempt_tourcompletion_id_fkey" FOREIGN KEY ("tourcompletion_id") REFERENCES "usertourcompletion"("tourcompletion_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usercheckpointattempt" ADD CONSTRAINT "usercheckpointattempt_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "userprofile" ADD CONSTRAINT "userprofile_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "userquizcompletion" ADD CONSTRAINT "userquizcompletion_quiz_id_fkey" FOREIGN KEY ("quiz_id") REFERENCES "quiz"("quiz_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "userquizcompletion" ADD CONSTRAINT "userquizcompletion_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "userrole" ADD CONSTRAINT "userrole_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "role"("role_id") ON DELETE SET DEFAULT ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "userrole" ADD CONSTRAINT "userrole_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usertourcompletion" ADD CONSTRAINT "usertourcompletion_tour_id_fkey" FOREIGN KEY ("tour_id") REFERENCES "tour"("tour_id") ON DELETE SET NULL ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "usertourcompletion" ADD CONSTRAINT "usertourcompletion_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("user_id") ON DELETE CASCADE ON UPDATE NO ACTION;

